<h1>Expenses</h1>

<form ng-submit="$ctrl.addExpense()">
  <p>Category: <input id="new-category" ng-model="$ctrl.newExpense.category"></p>
  <p>Amount: <input id="new-amount" ng-model="$ctrl.newExpense.amount"></p>
  <p><button type="submit">Add Expense</button></p>
</form>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="expense in $ctrl.expenses">
      <td>{{expense.id}}</td>
      <td>{{expense.category}}</td>
      <td>{{expense.amount}}</td>
      <td>
        <a href="#" ng-click="$ctrl.toggleEditForm(expense)">edit</a>
        <a href="#" ng-click="$ctrl.destroy(expense)">delete</a>
      </td>
    </tr>
  </tbody>
</table>

<form ng-if="$ctrl.showEditForm" ng-submit="$ctrl.updateExpense($ctrl.expenseToEdit)">
  <p>Category: <input id="edit-category" placeholder="{{$ctrl.expenseToEdit.category}}" ng-model="$ctrl.editedExpense.category"></p>
  <p>Amount: <input id="edit-amount" placeholder="{{$ctrl.expenseToEdit.amount}}" ng-model="$ctrl.editedExpense.amount"></p>
  <p><button type="submit">Update Expense</button></p>
</form>
