body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f3ffe0;
}

* {
  margin: 0px;

}

a {
  color: #00B7FF;
}

h1{
  color: #06669a;
}

.heading {
  background-color: #02283d;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.title {
  width:30%;
  float:left;
}

.quoteBlock {
  width:40%;
  float:right;
  color: #f6f6f6;
}

.author {
  float: right;
}

.listing {
  height: 300px;
  width: 100%;
  min-width: 850px;
  margin-bottom: 3px;
  padding-right: 300px;
  text-align: left;
  background-color: rgba(190, 158, 88, 0.9)
}

.thumbnail {
  float: left;
  position: absolute;
}

.content {
  margin-top: 100px;
  float: right;
  margin-right: 20%;
}

img {
  height: 300px;
  width: 300px;
}

i {
  color: red;
  float: right;
  margin-left: 5px;
  cursor: pointer;
}
