<nav-bar></nav-bar>

<main class="container">
  <div class="pull-right">
    <p><a class="btn btn-info" ng-click="$ctrl.toggleNewPostForm()">New Post</a></p>
  </div>

  <!-- search and filtering -->
  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.searchText">
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by {{$ctrl.propertyName}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" ng-click="$ctrl.sortBy($event, 'vote_count')">Votes</a></li>
        <li><a href="#" ng-click="$ctrl.sortBy($event, 'created_at')">Date</a></li>
        <li><a href="#" ng-click="$ctrl.sortBy($event, 'title')">Title</a></li>
      </ul>
    </li>
    <li>
      <!-- TODO - sort ascending and descending -->
      <a href="#"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a>
    </li>
  </ul>
  <!-- /search and filtering -->

  <!-- new post form -->
  <post-form option="create" on-create-post="$ctrl.createPost(newPost)" ng-if="$ctrl.newPostFormDisplay"></post-form>

  <!-- posts -->
  <!-- TODO - can the repeat be in the <post> directive -->
  <div ng-repeat="post in $ctrl.posts | orderBy:$ctrl.propertyName:$ctrl.reverse | filter:$ctrl.searchText">
    <post post="post"
      on-delete="$ctrl.deletePost(post)"
      on-update="$ctrl.updatePost(post, prop, val)"
      on-toggle-comments="$ctrl.toggleComments(post)"
      ></post>
  </div>
  <!-- /posts -->
</main>
