<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="postsList">Reddit Clone</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"></div>
  </div>
</nav>

<main class="container">
  <div class="row">
    <div class="col-md-8">
      <form class="form" novalidate name="$ctrl.postForm" ng-submit="$ctrl.editPost()">
        <div class="form-group" ng-class="{
          'has-error' : $ctrl.postForm.title.$invalid && $ctrl.postForm.title.$dirty,
          'has-success' : $ctrl.postForm.title.$valid
        }">
          <label class="control-label" for="title">Title</label>
          <input required class="form-control" type="text" name='title' ng-model="$ctrl.post.title">
          <p ng-show="$ctrl.postForm.title.$error.required && $ctrl.postForm.title.$dirty">Your username is required.</p>
        </div>

        <div class="form-group" ng-class="{
          'has-error' : $ctrl.postForm.body.$invalid && $ctrl.postForm.body.$dirty,
          'has-success' : $ctrl.postForm.body.$valid
        }">
          <label class="control-label" for="body">Body</label>
          <textarea class="form-control" name='body' ng-model="$ctrl.post.body" required></textarea>
          <p ng-show="$ctrl.postForm.body.$error.required && $ctrl.postForm.body.$dirty">Please enter body text for the new post.</p>
        </div>

        <div class="form-group" ng-class="{
          'has-error' : $ctrl.postForm.author.$invalid && $ctrl.postForm.author.$dirty,
          'has-success' : $ctrl.postForm.author.$valid
        }">
          <label class="control-label" for="author">Author</label>
          <input class="form-control" type="text" name='author' ng-model="$ctrl.post.author" required>
          <p ng-show="$ctrl.postForm.author.$error.required && $ctrl.postForm.author.$dirty">Please enter an author name for the new post.</p>
        </div>

        <div class="form-group" ng-class="{
          'has-error' : $ctrl.postForm.image_url.$invalid && $ctrl.postForm.image_url.$dirty,
          'has-success' : $ctrl.postForm.image_url.$valid
        }">
          <label class="control-label" for="image_url">Image URL</label>
          <input class="form-control" type="text" name='image_url' ng-model="$ctrl.post.image_url" required>
          <p ng-show="$ctrl.postForm.image_url.$error.required && $ctrl.postForm.image_url.$dirty">Please enter an author name for the new post.</p>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.postForm.$invalid">Edit Post</button>
          <a type="button" ui-sref="postsList" class="btn btn-danger">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</main>
