<div class="row">
  <div class="col-md-8">
    <form class="form" novalidate name="$ctrl.newPostForm" ng-submit="$ctrl.createPost($event)">
      <div class="form-group" ng-class="{
        'has-error' : $ctrl.newPostForm.title.$invalid && $ctrl.newPostForm.title.$dirty,
        'has-success' : $ctrl.newPostForm.title.$valid
      }">
        <label class="control-label" for="title">Title</label>
        <input required class="form-control" type="text" name='title' ng-model="$ctrl.newPost.title">
        <p ng-show="$ctrl.newPostForm.title.$error.required && $ctrl.newPostForm.title.$dirty">Your username is required.</p>
      </div>

      <div class="form-group" ng-class="{
        'has-error' : $ctrl.newPostForm.body.$invalid && $ctrl.newPostForm.body.$dirty,
        'has-success' : $ctrl.newPostForm.body.$valid
      }">
        <label class="control-label" for="body">Body</label>
        <textarea class="form-control" name='body' ng-model="$ctrl.newPost.body" required></textarea>
        <p ng-show="$ctrl.newPostForm.body.$error.required && $ctrl.newPostForm.body.$dirty">Please enter body text for the new post.</p>
      </div>

      <div class="form-group" ng-class="{
        'has-error' : $ctrl.newPostForm.author.$invalid && $ctrl.newPostForm.author.$dirty,
        'has-success' : $ctrl.newPostForm.author.$valid
      }">
        <label class="control-label" for="author">Author</label>
        <input class="form-control" type="text" name='author' ng-model="$ctrl.newPost.author" required>
        <p ng-show="$ctrl.newPostForm.author.$error.required && $ctrl.newPostForm.author.$dirty">Please enter an author name for the new post.</p>
      </div>

      <div class="form-group" ng-class="{
        'has-error' : $ctrl.newPostForm.image_url.$invalid && $ctrl.newPostForm.image_url.$dirty,
        'has-success' : $ctrl.newPostForm.image_url.$valid
      }">
        <label class="control-label" for="image_url">Image URL</label>
        <input class="form-control" type="text" name='image_url' ng-model="$ctrl.newPost.image_url" required>
        <p ng-show="$ctrl.newPostForm.image_url.$error.required && $ctrl.newPostForm.image_url.$dirty">Please enter an author name for the new post.</p>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.newPostForm.$invalid">Create Post</button>
      </div>
    </form>
  </div>
</div>
