<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="postsList">Reddit Clone</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"></div>
  </div>
</nav>

<main class="container">
  <div class="pull-right">
    <p><a class="btn btn-info" ng-click="$ctrl.toggleNewPostForm()">New Post</a></p>
  </div>

  <!-- search and filtering -->
  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.searchText">
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by {{$ctrl.propertyName}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" ng-click="$ctrl.sortBy($event, 'vote_count')">Votes</a></li>
        <li><a href="#" ng-click="$ctrl.sortBy($event, 'created_at')">Date</a></li>
        <li><a href="#" ng-click="$ctrl.sortBy($event, 'title')">Title</a></li>
      </ul>
    </li>
    <li>
      <!-- TODO - sort ascending and descending -->
      <a href="#"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a>
    </li>
  </ul>
  <!-- /search and filtering -->

  <!-- new post form -->
  <div class="row">
    <div class="col-md-8">
      <form class="form" novalidate name="$ctrl.newPostForm" ng-submit="$ctrl.createPost($event)" ng-if="$ctrl.newPostFormDisplay">
        <div class="form-group" ng-class="{
          'has-error' : $ctrl.newPostForm.title.$invalid && $ctrl.newPostForm.title.$dirty,
          'has-success' : $ctrl.newPostForm.title.$valid
        }">
          <label class="control-label" for="title">Title</label>
          <input required class="form-control" type="text" name='title' ng-model="$ctrl.newPost.title">
          <p ng-show="$ctrl.newPostForm.title.$error.required && $ctrl.newPostForm.title.$dirty">Your username is required.</p>
        </div>

        <div class="form-group" ng-class="{
          'has-error' : $ctrl.newPostForm.body.$invalid && $ctrl.newPostForm.body.$dirty,
          'has-success' : $ctrl.newPostForm.body.$valid
        }">
          <label class="control-label" for="body">Body</label>
          <textarea class="form-control" name='body' ng-model="$ctrl.newPost.body" required></textarea>
          <p ng-show="$ctrl.newPostForm.body.$error.required && $ctrl.newPostForm.body.$dirty">Please enter body text for the new post.</p>
        </div>

        <div class="form-group" ng-class="{
          'has-error' : $ctrl.newPostForm.author.$invalid && $ctrl.newPostForm.author.$dirty,
          'has-success' : $ctrl.newPostForm.author.$valid
        }">
          <label class="control-label" for="author">Author</label>
          <input class="form-control" type="text" name='author' ng-model="$ctrl.newPost.author" required>
          <p ng-show="$ctrl.newPostForm.author.$error.required && $ctrl.newPostForm.author.$dirty">Please enter an author name for the new post.</p>
        </div>

        <div class="form-group" ng-class="{
          'has-error' : $ctrl.newPostForm.image_url.$invalid && $ctrl.newPostForm.image_url.$dirty,
          'has-success' : $ctrl.newPostForm.image_url.$valid
        }">
          <label class="control-label" for="image_url">Image URL</label>
          <input class="form-control" type="text" name='image_url' ng-model="$ctrl.newPost.image_url" required>
          <p ng-show="$ctrl.newPostForm.image_url.$error.required && $ctrl.newPostForm.image_url.$dirty">Please enter an author name for the new post.</p>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.newPostForm.$invalid">Create Post</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /new post form -->

  <!-- posts -->
  <!-- <post ng-repeat="post in $ctrl.posts | orderBy:$ctrl.propertyName:$ctrl.reverse | filter:$ctrl.searchText"></post> -->
  <div class="row" ng-repeat="post in $ctrl.posts | orderBy:$ctrl.propertyName:$ctrl.reverse | filter:$ctrl.searchText">
    <div class="col-md-12">
      <div class="media well">
        <div class="media-left text-center">
          <img class="media-object" ng-src="{{post.image_url}}" style="height: 140px" alt="...">
          <a ui-sref="postEdit({ postId: post.id })">Edit</a>
        </div>

        <div class="media-body">
          <h4 class="media-heading">{{post.title}} | {{post.author}} |
            <a ng-click="$ctrl.upvotePost(post)"><i class="glyphicon glyphicon-arrow-up"></i></a>
            <a ng-click="$ctrl.downvotePost(post)"><i class="glyphicon glyphicon-arrow-down"></i></a>
            <span>{{post.vote_count}}</span>
            <a class="pull-right" ng-click="$ctrl.deletePost($event, post)"><i class="glyphicon glyphicon-remove-circle"></i></a>
          </h4>
          <p>{{post.body}}</p>
          <div>
            <span am-time-ago="post.created_at"></span> |
            <i class="glyphicon glyphicon-comment"></i>
            <a ng-click="$ctrl.toggleComments(post)">
              <ng-pluralize
              count="post.comments.length"
              when="{'1': '1 comment',
                 'other': '{} comments'}">
              </ng-pluralize>
            </a>
          </div>
          <comment ng-if="post.showComments" post="post" on-update="$ctrl.addComment(comment, post)"></comment>
        </div>
      </div>
    </div>
  </div>
  <!-- /posts -->

</main>
