<form ng-submit="$ctrl.createPost()" ng-if="$ctrl.layout.addingPost">
  <div>
    <input ng-model="$ctrl.post.title">
  </div>
  <div>
    <textarea ng-model="$ctrl.post.body"></textarea>
  </div>
  <div>
    <input ng-model="$ctrl.post.author">
  </div>
  <div>
    <button type="submit">Create Post</button>
  </div>
</form>

<div ng-repeat="post in $ctrl.posts">
  <div>{{post.title}}</div>
  <div>{{post.description}}</div>
  <div>{{post.author}}</div>
  <div>{{post.created_at}}</div>
  <hr>
</div>
