<form ng-submit="$ctrl.createItem()">
  <p>
    <label for="name">Name</label>
    <input id="name" ng-model="$ctrl.item.name">
  </p>
  <p>
    <label for="quantity">Quantity</label>
    <input id="quantity" ng-model="$ctrl.item.quantity">
  </p>
  <p>
    <button type="submit">Add Item</button>
  </p>
</form>

<div class="item">
  <div ng-repeat="item in $ctrl.items">
    <span>{{ item.name }} {{ item.quantity }} </span><a href="#" ng-click="$ctrl.deleteItem($event, item)">Delete</a>
  </div>
</div>
